*{
   padding: 0;
   margin: 0;
}
 
.app{
   text-align: center;
   margin-top: 100px;
}

.main{
   margin-top: 25px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}
 
button, ul{
   font-size: 60px;
   margin: 25px;
   padding: 15px 50px;
   transition: 0.1s;
   background-color: red;
   border: 2px solid black;
}

.white{
   color: white;
}
 
.green{
   background: green;
}

.blue{
   background: blue;
}